.app-layout {
  --nav-margin-top: 62px;

  display: grid;
  grid-template-columns: 300px auto auto auto;
  grid-template-rows: auto min-content;
  grid-template-areas: "sidebar content";

  grid-gap: 20px;

  > .nav {
    grid-area: sidebar;
    margin-top: var(--nav-margin-top);
  }

  > .nav > .search {
    margin-bottom: 10px;
  }

  > .content {
    grid-area: content;
  }

  @media (max-width: @small-screen-max) {
    --nav-margin-top: 0px;

    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar"
      "content";
  }
}
