.app-layout {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: min-content auto minmax(0, min-content);
  grid-template-areas: ". weekdays" "locations menus" "footer menus";
  grid-gap: 20px;

  > .locations {
    grid-area: locations;
  }

  > .locations > .search {
    margin-bottom: 10px;
  }
  
  > .weekdays {
    grid-area: weekdays;
  }

  > .footer {
    grid-area: footer;
  }

  > .menus {
    grid-area: menus;
  }

  @media (max-width: @small-screen-max) {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "locations"
      "weekdays"
      "menus"
      "footer";
  }
}
