.locations-list {
  display: grid;
  grid-row-gap: 10px;

  > .location > a {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: var(--box-border-radius);
    transition: box-shadow .1s;
  }

  > .location > a > .distance {
    opacity: .6;
    font-size: 14px;
    display: block;
  }

  > .location.-active > a {
    background-color: var(--brand-color);
    color: #fff;
  }

  > .location.-active:not(:last-child) {
    margin-bottom: 10px;
  }
}
